In [1]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
fraud=pd.read_csv("D:\ExcelR_Assig_PDF\Random Forest\Fraud_check.csv")

In [3]:
fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [6]:
fraud.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [8]:
cut_labels=['Risky', 'Good']
cut_bins=[0, 30000,100000]
fraud['TxIn']=pd.cut(fraud['Taxable.Income'],labels=cut_labels,bins=cut_bins)

In [9]:
fraud.pop('Taxable.Income')

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable.Income, Length: 600, dtype: int64

In [10]:
fraud.head()

  Undergrad Marital.Status  City.Population  Work.Experience Urban  TxIn
0        NO         Single            50047               10   YES  Good
1       YES       Divorced           134075               18   YES  Good
2        NO        Married           160205               30   YES  Good
3       YES         Single           193264               15   YES  Good
4        NO        Married            27533               28    NO  Good

In [11]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
fraud['Undergrad']=label_encoder.fit_transform(fraud['Undergrad'])
fraud['Marital.Status']=label_encoder.fit_transform(fraud['Marital.Status'])
fraud['Urban']=label_encoder.fit_transform(fraud['Urban'])
fraud['TxIn']=label_encoder.fit_transform(fraud['TxIn'])

In [12]:
fraud.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban  TxIn
0          0               2            50047               10      1     0
1          1               0           134075               18      1     0
2          0               1           160205               30      1     0
3          1               2           193264               15      1     0
4          0               1            27533               28      0     0

In [13]:
colnames = list(fraud.columns)
colnames

['Undergrad',
 'Marital.Status',
 'City.Population',
 'Work.Experience',
 'Urban',
 'TxIn']

In [15]:
x = fraud.iloc[:,0:5]
y = fraud.iloc[:,5]

In [16]:
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=100, max_features=3)
results = cross_val_score(model, x, y, cv=kfold)

In [23]:
results

array([0.76666667, 0.76666667, 0.65      , 0.66666667, 0.73333333,
       0.61666667, 0.85      , 0.71666667, 0.73333333, 0.83333333])

In [20]:
results.mean()

0.7333333333333334